@font-face{
    font-family: 'PlusJakartaSans-VariableFont_wght';
    src: url('Fonts/PlusJakartaSans-VariableFont_wght.ttf' ) format('truetype');
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'PlusJakartaSans-VariableFont_wght';
    background-color: #ffffff;
    display: grid;
    align-items: center;
    margin-top: 90px;
    color: rgb(66, 66, 66);
    width: auto;
    height: auto;
}

img{
    display: flex;
    width: 100px;
    height: 100px;
    
}

.imageandh1{
    display: inline-flex;
    gap: 195px;
    margin: auto;
    width: 100%;
   
}
.header{
    margin: auto;
    
}
.header p{
    margin-top:-20px;
    font-size: 14px;
    font-weight: 600;
}
.form{
    width: 100%;
    max-width: 400px;
    margin: auto;
}
h1{
    
    font-size: 40px;
    font-weight: 500;
}
label{
    font-weight: 500;
    font-size: 15px;
    
}

input{
    border-radius: .5rem;
    padding:1rem .75rem;
    border: 1px solid #ebebeb;
    color: #bebcbc;
    background-color:#ebebeb;
    margin-top: 7px;
    width: 100%;
    outline: none;
}
::placeholder{
    font-weight: 600;
}
input:focus{
    border-color: #2b65e3;
    border: 1px solid  #2b65e3;
}


button{
    /*background: linear-gradient(to right, #08f7af, #377dff); */
    border-radius: .5rem;
    background-color: #6082e3;
    color: #ffffff;
    width:100%;
    border: 0px;
    padding:1rem .75rem;
    cursor: pointer;
    font-size: small;
    font-weight: 750;
    text-decoration: none;
}

.bottom{
    font-weight:500;
    margin: auto;
    text-align: center;
    font-size: 15px;
}
.bottom a{
 text-decoration: none;
 color: #2b65e3;
}