@font-face{
    font-family: 'PlusJakartaSans-VariableFont_wght';
    src: url('Fonts/PlusJakartaSans-VariableFont_wght.ttf' ) format('truetype');
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'PlusJakartaSans-VariableFont_wght';
    background-color: #ffffff;
    padding: 0%;
    margin: 0%;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;

    color: rgb(88, 88, 88);
}

.container{
    width: 100%;
    max-width: 420px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
    margin-top: 50px;
}

img{
    width: 70px;
    height: 70px;
    right: 80px;
}

.imageandh1{
    display: inline-flex;
    gap: 200px;
    align-items: center;
    width: 100%;
}

.imageandh1 span{
    font-size: 35px;
    font-weight: 500;
    color: black;
}



.header p{
    margin-top:-10px;
    font-size: 14px;
    font-weight: 550;
}
.form{
    width: 100%;
    box-sizing: border-box;
    margin: 0%;
    padding: 5px;
    
}

label{
    font-weight: 500;
    font-size: 15px;
}

input{
    border-radius: .5rem;
    padding:1rem .75rem;
    border: 1px solid #ebebeb;
    color: #000000;
    background-color:#ebebeb;
    margin-top: 7px;
    width: 100%;
    outline: none;
    font-weight: 600;
    box-sizing: border-box;
}

::placeholder{
    font-weight: 600;
    color: rgb(117, 117, 117);
}

input:focus{
    border-color: #2b65e3;
    border: 1px solid  #2b65e3;
}

button{
    /*background: linear-gradient(to right, #08f7af, #377dff); */
    border-radius: .5rem;
    background-color: #6082e3;
    color: #ffffff;
    width:100%;
    border: 0px;
    padding:1rem .75rem;
    cursor: pointer;
    font-size: small;
    font-weight: 750;
    text-decoration: none;
}

.bottom{
    font-weight:500;
    margin: auto;
    text-align: center;
    font-size: 15px;
}

.bottom a{
 text-decoration: none;
 color: #2b65e3;
}

@media (max-width:600px){
    .container{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        overflow-x: hidden;
        margin-top: 50px;
    }
    .imageandh1 {
    display: inline-flex;
    gap: 180px;
    align-items: center;
    width: 100%;
   
}

}